script.
   localStorage.setItem("path", "/default-corpus");

button Open
button PDF
button Help

div#nav
      ul
        li 
          if(currentURL == '/home/')
            a(href='/home/').current Texts
          else
            a(href='/home/') Texts
        li
          if(currentURL == '/books/')
             a(href='/books/').current Books
          else
             a(href='/books/') Books
        li
          if(currentURL == '/kings/')
             a(href='/kings/').current Kings 
          else
             a(href='/kings/') Kings

        li
          if(currentURL == '/museums/')
             a(href='/museums/').current Museums 
          else
             a(href='/museums/') Museums

        li
          if(currentURL == '/corpus/')
             a(href='/corpus/').current Corpus 
          else
             a(href='/corpus/') Corpus

if (currentURL == '/home/')
  ul(id="text_list")

if (currentURL == '/books/')
   p The list of books will appear here 

if (currentURL == '/kings/')
   p The list of kings will appear here

if (currentURL == '/museums/')
   p The list of museums will appear here

if (currentURL == '/corpus/')
   table 
      tr 
         td File
         td Type
         td Name
      tr
         td
            a(id="current_path") somepath
         td(id="current_corpus_type") sometype
         td(id="current_corpus_name") somename

link(rel='stylesheet', href='/stylesheets/tabs.css')

script.
   document.getElementById("current_path").innerHTML = localStorage.getItem("path");
   document.getElementById("current_path").href = localStorage.getItem("path");

script.
   var xmlhttp = new window.XMLHttpRequest();
   xmlhttp.open("GET", localStorage.getItem("path"), true);
   xmlhttp.send(null);
   xmlhttp.onreadystatechange = callbackFunction;
   
   function callbackFunction() {
      if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
         var response = xmlhttp.responseText;
         var parser = new DOMParser();
         var xmlDoc = parser.parseFromString(response, "text/xml");
         var corpus_type = xmlDoc.getElementsByTagName("corpus")[0].getAttribute("type");
         var corpus_name = xmlDoc.getElementsByTagName("corpus")[0].getAttribute("name");
         document.getElementById("current_corpus_type").innerHTML = corpus_type;
         document.getElementById("current_corpus_name").innerHTML = corpus_name;

         
      }
   }

script.
   var xmlhttp1 = new window.XMLHttpRequest();
   xmlhttp1.open("GET", localStorage.getItem("path"), true);
   xmlhttp1.send(null);
   xmlhttp1.onreadystatechange = callbackFunction;

   function callbackFunction() {
      if (xmlhttp1.readyState == 4 && xmlhttp1.status == 200) {
         var response = xmlhttp.responseText;
         var parser = new DOMParser();
         var xmlDoc = parser.parseFromString(response, "text/xml");
         var texts = xmlDoc.getElementsByTagName("tree")[0].getElementsByTagName("leaf");
         var text_list = document.getElementById("text_list");
         for (var i = 0; i < texts.length; i++) {
            var text = texts[i];
            var text_name = text.getAttribute("name");
            var text_path = text.getAttribute("location");
            var text_attrib = text.getAttribute("post");
            var text_li = document.createElement("li");
            var text_a = document.createElement("a");
            var text_span = document.createElement("span");
            text_a.innerHTML = text_name;
            text_a.href = "/" + text_path;
            text_span.innerHTML = "  [" + text_attrib + "]";
            text_li.appendChild(text_a);
            text_li.appendChild(text_span);
            text_list.appendChild(text_li);
         }
      }
   }