div(id="text-box", style="width: 75%; margin: 0 auto;")
   table(id="text")

script.
    const colWidth = Math.floor(document.getElementById("text-box").offsetWidth / 10.9964);
    location.href = "#{currentURL}/" + colWidth;